.glass {
  position: relative;
  background: rgba(225, 225, 225, 0.05);
  border-radius: 6px;
  
  z-index: 10;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(225, 225, 225, 0.2);
  border-left: 1px solid rgba(225, 225, 225, 0.2);
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  
  padding: 20px 30px;
  margin-top: 40px;
  
  min-width: 600px;
  width: 800px;
  
}

.glass__form {
  position: relative;
  display: grid;
  
}

.glass__form h4 {
  font-family: sans-serif;
  text-align: center;
  margin: 10px;
}

.glass__form__group {
  
  margin: 10px 0;
}

.glass__form__input::placeholder{
  color: white;
}
.glass__form__input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  
  padding: 10px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
}

.glass__form__input:focus{
  background: rgba(117, 163, 232, 0.5);
  
  
}

.glass__form__btn {
  background: #ea2828;
  border: 1px solid #ea2828;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.glass__form__btn:hover {
  background: transparent;
  color: #ea2828;
  transition: all ease-in-out 0.3s;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #000;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #000;
}

.holderTweets{
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  align-items: center;
  align-content: center;
  width: fit-content;
}
.imageProf{
  border-radius: 50%;
  background-image: url('../../public/profile-icon-design-free-vector.jpg');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat, repeat;
  background-size: cover; 
  
}
.imageName{
  display: flex;
  flex-direction: column;
  width: 120px;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.hole{
  display: flex;
  flex-direction: column;
  width:600px
}
.glass2{
  position: relative;
  background: rgba(225, 225, 225, 0.05);
  border-radius: 6px;
  background-color: purple;
  z-index: 10;
  width: 800px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(225, 225, 225, 0.2);
  border-left: 1px solid rgba(225, 225, 225, 0.2);
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  min-width: 35vw;
  padding: 20px 30px;
  max-width: 1000px;
  

}
