.rr{
  backdrop-filter: blur(15px);
  background-color: purple;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  height: 58px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
}

.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 58px;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 20px;
}

.menus {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: fit-content;
  margin-left: 20px;
  margin-right: 40px;
  background-color: rgb(65, 173, 222,0.1);
  width: 80%;
  backdrop-filter: blur(15px);
}

.menu-items {
  position: relative;
  font-size: 14px;
  
}

.menu-items p {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  height: 42px;
}

.menu-items button {
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.menu-items p,
.menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items p:hover,
.menu-items button:hover {
  background-color:transparent
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: rgb(65, 173, 222);
  backdrop-filter: blur(2px);
  border-radius: 0.5rem;
  display: none;
  width: fit-content;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -8px;
  margin-top: 4px;
}
.kh{
  background-color: blue;
  height: fit-content;
  width: 300px;
}
.w{
  width: 60%;
}
.twtimage{
  border-radius: 50%;
  background-image: url('../public/unnamed.png');
  width: 50px;
  height: 50px;
  background-repeat: no-repeat, repeat;
  background-size: cover; 
  margin-left:auto;
  margin-right:25px;
  margin-top: 5px;
}
.twtimage1{
  border-radius: 50%;
  background-image: url('../public/unnamed.png');
  width: 50px;
  height: 50px;
  margin:auto;
  background-repeat: no-repeat, repeat;
  background-size: cover; 
  
}
.childbigger{
  position:absolute;
  left:0;
  right:0;
}
.arrow {
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up {
  transform: rotate(-180deg);
 
}